//fonts
$mainFonts: 'Montserrat';

//
$transition: all 0.5s ease-out;
// colors
$bgColors: #fff;

$titleColor: #1a4a59;
$quoteColors: #27b688;
$mainColors: #27b688;
$infobg: #f9f9f9;
$helpbg: #f9f9f9;
$helpborder: #dcebde;

//
$transition: all 0.5s ease-out;

$mobile: 360px;
